<section id="footer">
    <div class="footer_inner clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="footer_1">
                            <h3>IFIDC ORG</h3>
                            <p>Indian Farmer Integrated Development Co-operative
                                Organisation is a wing of SRI Associations. As name
                                indicates work for Farmers and Agriculture.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_2">
                            <h3>Reach us<br>
                            </h3>
                            <ul>
                                <li><i class="fa fa-map-marker"></i> SRI Associations</li>
                                <li><i class="fa fa-phone"></i> Phone: +91 888 5445 486</li>
                                <li><i class="fa fa-envelope"></i> <a href="#">info@ifidc.org</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_3">
                            <h3>SOCIALLY</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                            class="fa fa-twitter"></i></a> <br>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i
                                            class="fa fa-instagram"></i></a>
                                    <br>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_2">
                            <h3>Latest NEWS</h3>
                        </div>
                        <div class="footer_4">
                            <p>Enter your email and we’ll send you latest..</p>
                        </div>
                        <div class="footer_3">
                            <p><input class="form-control" placeholder="Your Email Address" type="text"></p>
                            <a href="#" class="button">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="footer_main" class="clearfix">
    <div class="col-sm-12">
        <div class="footer_main_1">
            <p>© 2021 www.ifidc.org. All Rights Reserved to SRI Associations.
                Design and Development by<a href="https://vibhuvi.com">Vibhuvi</a></p>
        </div>
    </div>
</section>